<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Freelancer - Start Bootstrap Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body id="page-top">
    <!-- Masthead-->
    <header class="text-center">
        <div class="container" style="background-color: #77f1ff!important;">
            <h1 class="masthead-heading text-uppercase text-white mb-0">REGISTRO Y CONTROL DE ACCESO A LOS AUDITORIOS UCC BOGOTÁ</h1>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Estudiantes de Tecnología en Desarrollo y Administración de Aplicaciones Informaticas - UCC - UCC</p>
            <br>
        </div>
    </header>
    <br>
    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Bienvenidos</h2>
            <!-- Icon Divider-->
            <br>

            <div class="btn btn-outline-info display-4">
                <a href="crear-usuario">
                    <p class="display-6">Registrar Usuarios</p>
                </a>
            </div>
            <br>
            <br>
            <div class="btn btn-outline-info display-4">
                <a href="mostrar-usuarios">
                    <p class="display-6">Ver Usuarios Registrados</p>
                </a>
            </div>
            <br>
            <br>
            <div class="btn btn-outline-info display-4">
                <a href="mostrar-editar-usuarios">
                    <p class="display-6">Actualizar Usuarios Registrados</p>
                </a>
            </div>
            <br>
            <br>
            <div class="btn btn-outline-info">
                <a href="mostrar-eliminar-usuarios">
                    <p class="display-6"> Eliminar Usuarios Registrados</p>
                </a>
            </div>
        </div>
    </section>
</body>

</html>