
<h1 class="text-center">INNOVACIÓN YAN</h1>
    <div class="container col-sm-6" style="background-color: rgb(238, 168, 178) "></div>

<center>
    <h1><a href="IniciarSesion">**INGRESAR**</a></h1>
    <h1><a href="formulario">   **REGISTRO**</a></h1>

</center>    

</div>


